body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#pendingLeave th {
    color: white;
    background: #716492;
}
#pendingLeave tr {
    color: black;
    background: #969696d0;
}
#approveRejectleave th {
    color: white;
    background: #309e8f;
}
#approveRejectleave tr {
    color: whitesmoke;
    background: #86ab9d;
}
#leaveHistory th {
    color: white;
    background: #072a6b;
}
#leaveHistory tr {
    color: white;
    background: #5b95b1ba;
}
